uuid : package to generate random id 
hot-toast : package to generate Notifications || modal boxes
react-avatar : text like avatar for various group member

// you do not need to install env.config module in react app as it is already preinstalled 
you just need to use REACT_ in front of .env variable you have to use